<header>
  <section class="wrapper">
      <nav>
          <ul>
              <li><a href="reuniones">Inicio</a></li>
              <li><a href="crear-reunion">Crear Reunión</a></li>
              <li><a href="login">Log out</a></li>
          </ul>
      </nav>
  </section>

</header>

<div class="jumbotron jumbotron-fluid">
  <div style="text-align: center;">
      <div class="container">
      <h1 class="display-10">CREAR REUNIÓN</h1>
      </div>
  </div>
</div>


<div class="container">
        
        <br> <br>
        <form action="">
          
          <div class="contenedor-inputs">
            <label>Titulo de la reunión:</label><br>
            <input type="text" 
            id="tituloConvocar" 
            size="50"
            placeholder="Titulo">

            <br><br>

            <label> Descripción de la reunión:</label><br>
            <input type="text" 
            id="descripcionConvocar" 
            placeholder="Descripción"
            size="50"
            maxlength="30">

            <br><br>

            <label>Fecha y hora de la reunión:</label><br>
            <input type="datetime-local" 
            id="fechaconvocar"
            name="trip-start" 
            value="2020-07-22" 
            min="2018-01-01"
            min="08:00" 
            max="21:00" > 

            <br><br>


          <p>Selecciona los asistentes:</p>
          <p>(Pulse la tecla Ctrl para seleccionar varios)</p>
          <p>
          <select name="asistentesConvocar[]" id = "arrayAsistentes" multiple>
          </select>
          </p>

          <input type="submit" class="btn-submit" onclick="guardarReunion()" value="GUARDAR">


</div>