<header>
  <section class="wrapper">
      <nav>
          <ul>
              <li><a href="reuniones">Inicio</a></li>
              <li><a href="crear-reunion">Crear Reunión</a></li>
              <li><a href="login">Log out</a></li>
              <li><a href="modificar">Modificar reunion</a></li>
          </ul>
      </nav>
  </section>
</header>

<div class="jumbotron jumbotron-fluid">
  <div style="text-align: center;">
      <div class="container">
      <h1 class="display-10">MODIFICAR REUNIÓN</h1>
      </div>
  </div>
</div>

<br>

<div class="row" style="margin-left: auto;">
  <table class="table table-striped">
    <thead class="reunionesTableHead">
      <tr>
        <th scope="col" sortable="titulo">Titulo</th>
        <th scope="col" sortable="descripcion">Descripcion</th>
        <th scope="col" sortable="fecha">Fecha</th>
        <th scope="col" sortable="hora">Hora</th>
        <th scope="col" sortable="asistentes">Asistentes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reunion of reuniones">
        <td (click)="setValues(reunion)">
          {{reunion.titulo}}
        </td>
        <td (click)="setValues(reunion)">
          {{ reunion.descripcion }}
        </td>
        <td (click)="setValues(reunion)">
          {{ reunion.dia}}/{{ reunion.mes}}/{{ reunion.ano}}
        </td>
        <td (click)="setValues(reunion)">
          {{ reunion.hora }}
        </td>
        <td>
          {{ reunion.asistentes }}
        </td>  
      </tr>
      
    </tbody>
    <br>
    <br>
  </table>
</div>

<div class="container">

        <br> <br>
        <form [formGroup]="form">

          <div class="contenedor-inputs">
            <label>Titulo de la reunión:</label><br>
            <input type="text"
            formControlName="titulo"
            id="tituloConvocar"
            size="50"
            placeholder="Titulo">

            <br><br>

            <label> Descripción de la reunión:</label><br>
            <input type="text"
            formControlName="descripcion"
            id="descripcionConvocar"
            placeholder="Descripción"
            size="50"
            maxlength="30">

            <br><br>

            <label>Fecha y hora de la reunión:</label><br>
            <input type="datetime-local"
            formControlName="fecha"
            id="fechaconvocar"
            name="trip-start"
            value="2020-07-22"
            min="2018-01-01"
            min="08:00"
            max="21:00" >

            <br><br>


            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="asistentes">Asistentes Disponibles</label>
                  <select style="height: 200px;" class="custom-select" id="asistentes" required multiple="multiple"multiple>
                      <option selected disabled value="">Elige...</option>
                      <option
                      *ngFor= "let usuariosRegistrado of usuariosRegistrados, let indexOfElement = index;"
                      (click)="actualizarIndexAdd(indexOfElement)"
                      [value]= "usuariosRegistrado"
                      >
                      {{usuariosRegistrado}}
                      </option>
                    </select>
                </div>
                <div class="row">
                  <button class="btn btn-primary" style="margin-top: 5px;" (click)="addAsistente()"> Añadir Asistente</button>
                </div>
                <div class="invalid-feedback">
                    Por favor elija un asistente
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <label for="asistentes">Asistentes Añadidos</label>
                <select class="custom-select" style="height: 200px;" id="asistentes" required multiple="multiple"multiple>
                    <option selected disabled value="">Asistentes elegidos...</option>
                    <option
                     *ngFor= "let usuariosElegido of usuariosElegidos, let indexOfElement = index"
                     (click)="actualizarIndexDelete(indexOfElement)"
                     [value]= "usuariosElegido"
                    >
                    {{usuariosElegido}}
                    </option>
                  </select>
                </div>
                <div class="row">
                  <button class="btn btn-primary" style="margin-top: 5px; " (click)="deleteAsistente()">  Eliminar Asistente</button>
                </div>

              </div>
            </div>
            <br>
            <br>

          <button class="btn btn-primary" style="margin-top: 5px; " (click)="updateReunion()">  Modificar</button>


</div>
